<h2>Edit Location Details</h2>

<form class="" action="/places/<%= @place.id %>" method="post">
  <div class="edit_box">
    <input type="hidden" name="_method" value="put">
    <label for="">Name</label>
    <input type="text" name="name" value="<%= @place.name %>">
    <p></p>
    <label for="">image url</label>
    <input type="text" name="image_url" value="<%= @place.image_url %>">
    <p></p>
    <label for="">Locale</label>
    <input type="text" name="locale" value="<%= @place.locale %>">
    <p></p>
    <label for="">Description</label>
    <input type="text" name="description" value="<%= @place.description %>">
    <p></p>
    <button class="hover_here colour">Update</button>
  </div>
</form>
