<h2><%= @place.name %></h2>

<div class="show">
  <div class="show_image_box">
    <img class="show_image" src="<%= @place.image_url %>" alt="">
  </div>
  <div class="show_description">
    <p><%= @place.description %></p>
    <p><span class="loc_head">Location:  </span><%= @place.locale %></p>
    <p><span class="activ_head">Activities:  </span><span classs="activ_list"> <% @activities.each do |activity| %>
    <%=  activity.things_to_do %>,
    <% end %> </span> </p>
    <div class="act_add_box">
      <form action="/activities" method="post">
        <input type="hidden" name="place_id" value="<%= @place.id %>">
        <textarea name="things_to_do" rows="1" cols="20"></textarea>
        <button>Add activity</button>
      </form>
    </div>
  </div>
</div>
<div class="show">
  <div class="comm_box">

    <div class="admin_box">
      <% if admin? %>
        <form class="" action="/places/<%= @place.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Delete</button>
        </form>

        <a href="/places/<%= @place.id %>/edit">Edit</a>
      <% end %>
    </div>

    <div class="">
      <form action="/comments" method="post">
        <input type="hidden" name="place_id" value="<%= @place.id %>">
        <textarea name="body" rows="6" cols="61"></textarea>
        <button>Post comment</button>
      </form>
    </div>
  </div>
  <div class="show_description">
  </div>
</div>
<% @comments.each do |comment| %>
<hr>
<p><%=  comment.body %></p>
<% end %>
